[flake8]
max-line-length = 100

exclude =
    migrations,
    */migrations/*,
    tests,
    */tests/*,
    tests.py,
    __pycache__,
    .venv,
    venv

extend-ignore =
    E203,
    E501,
    W503,
    W292